@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
    
:root{
    --Bright_orange: hsl(31, 77%, 52%);
    --Dark_cyan: hsl(184, 100%, 22%);
    --Very_dark_cyan: hsl(179, 100%, 13%);
    --Transparent_white: hsla(0, 0%, 100%, 0.75);
    --Very_lightgray: hsl(0, 0%, 95%);
}



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--Very_lightgray);
}

.main-container{
    width: 325px;
    margin: 87px auto 40px;
    border-radius: 8px;
    overflow: hidden;
}

article{
    width: 100%;
    height: 440px;
    padding: 48px;
}

#sedans{
    background-color: var(--Bright_orange);
}

#suvs{
    background-color: var(--Dark_cyan);
}

#luxury{
    background-color: var(--Very_dark_cyan);
}

img{
    margin-bottom: 36px;
}

h2{
    color: var(--Very_lightgray);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.4em;
    text-transform: uppercase;
    margin-bottom: 25px;
}

p{
    color: var(--Transparent_white);
    line-height: 25px;
    margin-bottom: 25px;
}

button{
    width: 148px;
    height: 46px;
    border-radius: 45px;
    border-style: none;
    background-color: var(--Very_lightgray);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

#btn-sedans{
    color: var(--Bright_orange);
}

#btn-suvs{
    color: var(--Dark_cyan);
}

#btn-luxury{
    color: var(--Very_dark_cyan);
}

button:hover{
    cursor: pointer;
    border: 2px solid var(--Very_lightgray);
}

#btn-sedans:hover{
    background-color: var(--Bright_orange);
    color: var(--Very_lightgray);
}
 
#btn-suvs:hover{
    background-color: var(--Dark_cyan);
    color: var(--Very_lightgray);
}

#btn-luxury:hover{
    background-color: var(--Very_dark_cyan);
    color: var(--Very_lightgray);
}
    
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (min-width:944px){
    .main-container{
        width: 924px;
        display: flex;
        margin-top: 170px;
    }

    article{
        height: 500px;
    }

    p{
        margin-bottom: 80px;
    }
}